includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - stubs/Image.php
        - stubs/ImageException.php
        - stubs/ImageFacade.php

    configDirectories:
        - config

    level: max

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            reportUnmatched: false
        -
            identifier: argument.type
            path: src/Entities/AuraProperty.php
        -
            identifier: staticMethod.notFound
            path: src/Types/Image.php
